*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: radial-gradient(circle at 100% 0%, #ffdc00 0, #ffca00 12.5%, #ffb600 25%, #ffa100 37.5%, #ff8a08 50%, #f17418 62.5%, #e46121 75%, #d94f28 87.5%, #ce402e 100%);
}

#caja{
    height: 605px;
    width: 545px;
    margin: 0px auto;

    background: url("babo-sprite2.png");

    animation: anima 800ms steps(11) infinite;
}

a {
    text-decoration: none;
    color: black;
}

.R{
    text-align: center;
    font-family: cursive;
    font-size: 35px;

    /* animation: parrafo 3s infinite linear; */
    animation: gira 2s linear;
}


/*Animaciones*/
@keyframes anima {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -6000px;
    }
}

@keyframes parrafo {
    0%{
        color: #ffdc00;
    }
    50%{
        color: #ce402e;
    }
    100%{
        color: black;
    }
}

@keyframes parrafo2 {
    0%{
        color: black;
    }
    50%{
        color: #ce402e;
    }
    100%{
        color: #ffdc00;
    }
}

@keyframes gira {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}

/*Responsive*/
@media (max-width:768px) {
    .R{
        /* font-size: 10px;
        margin: 0px auto;
        margin-top: 0px;
        margin-left: auto;
        align-items: center;
        margin-left: 215px;
        margin-top: 10px; */
    }
    .L{
        display: none;
    }

    #caja {
        margin-left: -90px;
    }


}